/* Colout Pallete: #2274A5, #FFFFFF, #E9F1F7, #131B23, #816C61,#B8BCC1 */
html {
	scroll-behavior: smooth
}
body {
	background: #FFFFFF
}
.nav-button {
	margin-left: .8rem;
}
.brand-position {
	position: fixed;
	left: 45%;
	top: inherit;
	margin-top: 0.3125rem;
}
.foreground {
	padding: 0.8rem;
	padding-top: 4rem;
}